<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",crossorigin="anonymous")
        link(rel="stylesheet", href="css/_base.css")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
    body
        //- .mokup
            img(src="./mokup/QROMA-02-Cursos-a.jpg", alt="", srcset="" width="100%")
        #app
            header
                .logo
                    img(src="./img/logo-qroma.svg", alt="logo qroma")
                .options.gotham-medium
                    .menu
                        a(href="#").item.active HOME
                        a(href="#").item CATÁLOGO DE CURSOS
                        a(href="#").item MIS CURSOS
                    .actions
                        a(href="#").item.flex
                            img(src="./img/icons/user.svg", alt="")
                            span LOGIN
            .search.bg-d-1
                .w70.m0auto.p60-50
                    h2.text-white CATÁLOGO DE CURSOS
                    form(action="")
                        .form-group
                            input(type="text", id="text-search")
                            label(for="text-search") ¿Qué curso estas buscado?
                            button
                                img(src="./img/icons/search.svg", alt="", srcset="")
            .category-title.w70.m0auto.p60-50
                h2.mb-1
                    span.text-info.gotham-medium 166 Cursos 
                    span.text-success.pacifig disponibles para ti
                h5 Selecciona una categoría y encuentra los cursos disponibles
            .category-menu.w70.m0auto.px45
                .widget01.n4.flex-column
                    .item.bg-info.active
                        h5.text-white Nuestro consumidor
                        .subtitle 4 CURSOS
                    .item.bg-success
                        h5.text-white Tu OnBoarding
                        .subtitle 2 CURSOS
                    .item.bg-warning
                        h5.text-white Seguridad
                        .subtitle 2 CURSOS
                    .item.bg-danger
                        h5.text-white Cursos de clientes
                        .subtitle 2 CURSOS
            .search.bg-d-1
                .w70.m0auto.p60-50.tabs
                    .header
                        .before
                            img(src="./img/icons/play.svg", alt="")
                        .list
                            a(href="#").item.active TODAS LAS SUBCATEGORIAS
                            a(href="#").item SUB CATEGORÍA 01
                            a(href="#").item SUB CATEGORÍA 02
                            a(href="#").item SUB CATEGORÍA 03
                        .after
                            img(src="./img/icons/play.svg", alt="")
                    .body
                        - var n = 0;
                        while n < 8
                            .item
                                .img
                                    img(src="./img/cursos.jpg", alt="", srcset="")
                                .contry
                                    img.contry-flag(src="./img/pais/peru.jpg", alt="", srcset="")
                                    .contry-name PERÚ
                                h3.title.gotham-medium Titulo del Primer curso
                                .footer
                                    .btn.btn-info ACCEDER
                                    .progress
                                        .container-progress.danger
                                            .gauge-container
                                                svg.gauge(viewBox="0 0 150 150")
                                                    circle.progress(r="67", data-target="84", cx="75" cy="75")
                                                    circle.rail(r="67", data-target="84", cx="75" cy="75")
                                                span.center.percentage
                                                    span.value 0
                                                    span.percentSymbol %

                            - n++;
            .w70.m0auto.p60-50.d-flex
                .icon-60.pl-4.pr-4
                    img(src="./img/icons/dispositivos.svg", alt="", height="100%")
                .title
                    h2.mb-1
                        span.text-success.pacifig Visita nuestro repositorio de aprendizajes 
                        span.text-info.gotham-medium Qromateca
                    a(href="#", title="title").btn.btn-info.mt-2 IR A QROMATECA
            .p60-50.bg-secondary.desarrollo-personal
                .w70.m0auto.pb-5
                    h2.mb-1
                        span.text-success.pacifig Continúa tu 
                        span.text-info.gotham-medium desarrollo personal
                .body
                    - var n = 0;
                    while n < 8
                        .item
                            .img
                                img(src="./img/desarrollo personal.jpg")
                                .icons
                                    img.like(src="./img/icons/like-2.svg")
                                    img(src="./img/icons/play.svg")
                            h3.title.text-info lorem ipsum dolor sit amet.
                            .footer
                                .like
                                    img(src="./img/icons/like.svg" height="100%")
                                    span.text-tercery 145 valoraciones
                        -n++;
            footer
                .w70
                    .menus.w75
                        .site-map.w33
                            h3 MAPA DEL AULA VIRTUAL
                            ul
                                li.active
                                    a(href="#") HOME
                                li
                                    a(href="#") CATÁLOGO
                                li
                                    a(href="#") QROMOTECA
                                li
                                    a(href="#") TIENDA
                        .site-map.w33
                            h3 MI PERFIL
                            ul
                                li
                                    a(href="#") MI DASHBOARD
                                li
                                    a(href="#") MIS CURSOS
                                li
                                    a(href="#") ¿AYUDA?
                    .redes.w25
                        h3 SIGUENOS EN LAS REDES
                        .list
                            .item
                                img(src="./img/icons/facebook.svg", alt="")
                            .item
                                img(src="./img/icons/youtube.svg", alt="")
                            .item
                                img(src="./img/icons/linkeding.svg", alt="")
                .copy QROMA 2020 © TODOS LOS DERECOS RESERVADOS
                                

