<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",crossorigin="anonymous")
        link(rel="stylesheet", href="css/_base.css")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    body
        #app
            header
                .logo
                    img(src="./img/logo-qroma.svg", alt="logo qroma")
                .options.gotham-medium
                    .menu
                        a(href="#").item HOME
                        a(href="#").item CATÁLOGO DE CURSOS
                        a(href="#").item MIS CURSOS
                    .actions
                        a(href="#").item.flex
                            img(src="./img/icons/user.svg", alt="")
                            span LOGIN
            .search.bg-d-4
                .w70.m0auto.p60-50
                    h2.text-white QROMOTECA
                    form(action="")
                        .form-group
                            input(type="text", id="text-search")
                            label(for="text-search") ¿Qué aprendizaje estás buscado?
                            button
                                img(src="./img/icons/search.svg", alt="", srcset="")
            .p60-50.bg-secondary.desarrollo-personal
                .category-title.w70.m0auto.p50-50.pb-3
                    h2.mb-1
                        span.text-info.gotham-medium 35 Aprendizajes 
                        span.text-success.pacifig compartidos contigo
                    h5 Selecciona una categoría y encuentra los aprendizajes disponibles
                .body
                    - var n = 0;
                    while n < 12
                        .item
                            .img
                                img(src="./img/desarrollo personal.jpg")
                                .icons
                                    img.like(src="./img/icons/like-2.svg")
                                    img(src="./img/icons/play.svg")
                            h3.title.text-info lorem ipsum dolor sit amet.
                            .footer
                                .like
                                    img(src="./img/icons/like.svg" height="100%")
                                    span.text-tercery 145 valoraciones
                        -n++;
            footer
                .w70
                    .menus.w75
                        .site-map.w33
                            h3 MAPA DEL AULA VIRTUAL
                            ul
                                li
                                    a(href="#") HOME
                                li
                                    a(href="#") CATÁLOGO
                                li.active
                                    a(href="#") QROMOTECA
                                li
                                    a(href="#") TIENDA
                        .site-map.w33
                            h3 MI PERFIL
                            ul
                                li
                                    a(href="#") MI DASHBOARD
                                li
                                    a(href="#") MIS CURSOS
                                li
                                    a(href="#") ¿AYUDA?
                    .redes.w25
                        h3 SIGUENOS EN LAS REDES
                        .list
                            .item
                                img(src="./img/icons/facebook.svg", alt="")
                            .item
                                img(src="./img/icons/youtube.svg", alt="")
                            .item
                                img(src="./img/icons/linkeding.svg", alt="")
                .copy QROMA 2020 © TODOS LOS DERECOS RESERVADOS