<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/_base.css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logo"><img src="./img/logo-qroma.svg" alt="logo qroma"/></div>
        <div class="options gotham-medium">
          <div class="menu" v-if="menu"><a class="item active" href="#">HOME</a><a class="item" href="#">CATÁLOGO DE CURSOS</a><a class="item" href="#">MIS CURSOS</a></div>
          <div class="actions"><a class="item flex" href="#"><img src="./img/icons/user.svg" alt=""/><span>LOGIN</span></a></div>
        </div>
        <div class="btn-menu" @click="menuBtn()"><img src="./img/icons/menu.svg" alt=""/></div>
      </header>
      <div class="profile bg-d-3">
        <div class="w70 m0auto p60-50 flex">
          <div class="data">
            <h2 class="text-white mt-2">CANJE DE PUNTOS</h2>
            <h5 class="text-white">Tenemos más de 500 productos para ti</h5>
          </div>
        </div>
      </div>
      <div class="mis-cursos w70 m0auto p60-50">
        <div class="widget-2">
          <div class="item">
            <div class="icon bg-info radius-50"><img src="./img/icons/navega.svg" alt=""/></div>
            <h3 class="text-info">1. NAVEGA</h3><span>Tenemos más de 500 productos para ti.</span>
          </div>
          <div class="item">
            <div class="icon bg-primary radius-50"><img src="./img/icons/canjea.svg" alt=""/></div>
            <h3 class="text-primary">2. CANJEA</h3><span>Usa tus puntos para canjear.</span>
          </div>
          <div class="item">
            <div class="icon bg-warning radius-50"><img src="./img/icons/coordinar.svg" alt=""/></div>
            <h3 class="text-warning">3. COORDINA</h3><span>Recibiras un correo con los siguientes pasos.</span>
          </div>
          <div class="item">
            <div class="icon bg-orange radius-50"><img src="./img/icons/hand.svg" alt=""/></div>
            <h3 class="text-orange">4. RECIBE</h3><span>Recibe tu producto y disfrútalo.</span>
          </div>
        </div>
      </div>
      <div class="p60-50 bg-secondary products">
        <div class="w70 m0auto title">
          <form class="w-50">
            <div class="form-group">
              <label class="type-2">Filtrar por:</label>
              <select class="text-info">
                <option>Todos los productos</option>
              </select>
            </div>
          </form>
        </div>
        <div class="body w70 m0auto flex mt-3 tabs">
          <div class="body">
            <div class="item" v-for="item in producto">
              <div class="img">
                <div class="product" :style="'background:url('+item.photo+')'" alt="" srcset=""></div>
              </div>
              <div class="content"><span class="gotham">{{item.name}}</span><br/><span class="gotham-medium">{{item.point}} puntos</span></div>
              <div class="footer"><a class="text-primary" :href="item.url">Canjear ></a></div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="w70">
          <div class="menus w75">
            <div class="site-map w33">
              <h3>MAPA DEL AULA VIRTUAL</h3>
              <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">CATÁLOGO</a></li>
                <li><a href="#">QROMOTECA</a></li>
                <li class="active"><a href="#">TIENDA</a></li>
              </ul>
            </div>
            <div class="site-map w33">
              <h3>MI PERFIL</h3>
              <ul>
                <li><a href="#">MI DASHBOARD</a></li>
                <li><a href="#">MIS CURSOS</a></li>
                <li><a href="#">¿AYUDA?</a></li>
              </ul>
            </div>
          </div>
          <div class="redes w25">
            <h3>SIGUENOS EN LAS REDES</h3>
            <div class="list">
              <div class="item"><img src="./img/icons/facebook.svg" alt=""/></div>
              <div class="item"><img src="./img/icons/youtube.svg" alt=""/></div>
              <div class="item"><img src="./img/icons/linkeding.svg" alt=""/></div>
            </div>
          </div>
        </div>
        <div class="copy">QROMA 2020 © TODOS LOS DERECOS RESERVADOS</div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="./js/tienda.js"></script>
  </body>
</html>