*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.w-100{
    width: 100%!important;
}
.pacifig, .pacifig *{
    font-family: 'Pacifico';
    font-weight: normal;
    font-style: normal;
}
.gotham-medium, .gotham-medium *{
    font-family: 'Gotham';
    font-weight: 500;
    font-style: normal;
}
.icon-60{
    height: 60px;
}
.btn{
    border: none;
    transition: all .3s;
    color: white;
    &:hover{
        color: rgba(white, .8);
    }
}
.btn-info{
    background-color: var(--info-color);
    &:hover{
        background-color: var(--info-color-darken);
    }
}
.btn-info-2{
    background-color: var(--info-color-2);
    &:hover{
        background-color: var(--info-color-darken-2);
    }
}
.btn-success{
    background-color: var(--success-color);
    &:hover{
        background-color: var(--success-color-darken);
    }
}
.btn-warning{
    background-color: var(--warning-color);
    &:hover{
        background-color: var(--warning-color-darken);
    }
}
.btn-danger{
    background-color: var(--danger-color);
    &:hover{
        background-color: var(--danger-color-darken);
    }
}
.bg-info{
    background-color: var(--info-color)!important;
}
.bg-info-o{
    background-color: rgba(#0f63b8, .8);
}
.bg-info-2{
    background-color: var(--info-color-2)!important;
}
.bg-success{
    background-color: var(--success-color)!important;
}
.bg-warning{
    background-color: var(--warning-color)!important;
}
.bg-danger{
    background-color: var(--danger-color)!important;
}
.bg-primary{
    background-color: var(--primary-color)!important;
}
.bg-primary-2{
    background-color: var(--primary-color-2)!important;
}
.bg-secondary{
    background-color: var(--secondary-color)!important;
}
.bg-orange{
    background-color: var(--orange-color)!important;
}

.text-info{
    color: var(--info-color)!important;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--info-color)!important;
        opacity: 1; /* Firefox */
    }
}
.text-info-2{
    color: var(--info-color-2)!important;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--info-color-2)!important;
        opacity: 1; /* Firefox */
    }
}
.text-success{
    color: var(--success-color)!important;
}
.text-warning{
    color: var(--warning-color)!important;
}
.text-danger{
    color: var(--danger-color)!important;
}
.text-primary{
    color: var(--primary-color)!important;
}
.text-secondary{
    color: var(--secondary-color)!important;
}
.text-tercery{
    color: var(--tercery-color)!important;
}
.text-cuart{
    color: var(--cuart-color)!important;
}
.text-orange{
    color: var(--orange-color)!important;
}

.b-info{
    border: 5px solid var(--info-color)!important;
}
.b-success{
    border: 5px solid var(--success-color)!important;
}
.b-warning{
    border: 5px solid var(--warning-color)!important;
}
.b-danger{
    border: 5px solid var(--danger-color)!important;
}
.b-primary{
    border: 5px solid var(--primary-color)!important;
}
.b-secondary{
    border: 5px solid var(--secondary-color)!important;
}
.flex{
    display: flex;
}

.w25{
    width: 25%;
}
.w33{
    width: 33%;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}
.pw70{
    padding: 0 calc(15% + 45px) 0 calc(15% + 45px);
}
.w75{
    width: 75%;
}
.w80{
    width: 84%;
}
.px45{
    padding: 0 45px 0 45px;
}
.p45{
    padding: 45px;
}
.p60-50{
    padding: 60px 50px;
}
.m0auto{
    margin: 0 auto;
}
.category-title{
    h5{
        color: var(--tercery-color);
    }
}
.radius-50{
    border-radius: 50%;
    overflow: hidden;
}
.radius-50X{
    border-radius: 50%;
}
.border-7{
    border: 7px solid white
}
.relative{
    position: relative;
}
.line{
    position: relative;
    &::after{
        background-color: var(--primary-color-2);
        content: "";
        position: absolute;
        height: 3px;
        width: 20%;
        bottom: .3em;
        left: 40%;
    }
}
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 8px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--info-color);
    border-radius: 10px;
    // border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.after-left{
    &::after{
        left:0!important;
    }
}
.after-80{
    &::after{
        width: 80%!important;
    }
}
.w-260{
    width: 260px!important;
}