:root {
    // --primary-color: #f4f4f4;
    --secondary-color: #f4f4f4;
    --tercery-color: #535353;
    --primary-color: #aec939;
    --orange-color: #f7a022;
    
    --infoL:39%;

    // --info-color: hsl(210, 85%, 39%);
    --info: 210, 85%;
    --info-color: hsl(var(--info),var(--infoL));
    --info-color-darken: hsl(var(--info),calc(var(--infoL) - 10%));

    // --success-color: hsl(103, 49%, 52%);
    --successL: 52%;
    --success: 103, 49%; 
    --success-color: hsl(var(--success),var(--successL));
    --success-color-darken: hsl(var(--success),calc(var(--successL) - 10%));

    // --warning-color: hsl(50, 86%, 57%);
    --warningL: 57%;
    --warning: 50, 86%; 
    --warning-color: hsl(var(--warning),var(--warningL));
    --warning-color-darken: hsl(var(--warning),calc(var(--warningL) - 10%));

    // --danger-color: hsl(353, 82%, 45%);
    --dangerL: 45%;
    --danger: 352, 82%; 
    --danger-color: hsl(var(--danger),var(--dangerL));
    --danger-color-darken: hsl(var(--danger),calc(var(--dangerL) - 10%));


    --shadow-1: 0 0 5px 0px rgba(0, 0, 0, .5);
    --shadow-2: 0 0 10px 0px rgba(0, 0, 0, .3);
}