:root{
    --width-logo: 170px;
}
header{
    display: flex;
    width: 100%;
    padding: 0 6.5vw;
    align-items: center;
    height: 70px;
    z-index: 2;
    position: sticky;
    .logo{
        width: var(--width-logo);
        padding: 10px;
        margin: 0 15px;
    }
    .options{
        width: calc(100% - var(--width-logo));
        display: flex;
        justify-content: space-between;
        .menu, .actions{
            display: flex;
            .item{
                text-decoration: none;
                font-size: .8em;
            }
        }
        .menu{
            margin-left: 20px;
            .item{
                text-align: center;
                // width: 150px;
                padding: 0 15px;
            }
        }
        .menu, .actions{
            .item{
                img{
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
        .btn-menu{
            display: none;
        }
    }
}
.baner{
    width: 100%;
    height: 455px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .item{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
        .content{
            position: absolute;
            left: 14.5vw;
            bottom: 85px;
            // left: 0;
            .title{
                margin-bottom: 20px;
                padding: 25px 35px;
                font-size: 30px;
                width: 550px;
            }
            .btn{
                transform: scale(1.25);
                padding: 6.5px 40px;
                transform-origin: bottom left;
            }
        }
    }
    .after,.before{
        background-image: url('../img/icons/arrow.svg');
        background-repeat: no-repeat;
        height: 45px;
        width: 45px;
        position: absolute;
        top: calc(50% - 42px);
        cursor: pointer;
        transition: all .3s;
    }
    .after{
        right: 22px;
        transform: rotate(180deg);
        &:hover{
            opacity: .8;
            transform: scale(.9) rotate(180deg);
        }
    }
    .before{
        &:hover{
            opacity: .8;
            transform: scale(.9);
        }
        left: 22px;
        z-index: 1;
    }
}
.access{
    text-align: center;
    width: 100%;
    h2{
        padding: 25px 0 25px 60px;
        font-size: 2.5em;
    }
    .widget01{
        padding: 37px;
        background-color: var(--secondary-color);
    }
}
.container-testimonials{
    margin: 0 auto;
    padding: 45px 45px 15px 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 18px;
        margin-bottom: 35px;
    }
    .after,.before{
        background: var(--info-color);
        background-image: url('../img/icons/play-2.svg');
        border-radius: 50%;
        height: 32px;
        width: 32px;
        position: absolute;
        top: calc(50% + 16px);
        cursor: pointer;
        transition: all .3s;
        
    }
    .after{
        left: 0;
        transform: rotate(180deg);
        &:hover{
            opacity: .8;
            transform: scale(.9) rotate(180deg);
        }
    }
    .before{
        right: 0;
        &:hover{
            opacity: .8;
            transform: scale(.9);
        }
    }
    .testimonials{
        padding-top: 15px;
        width: 100%;
        overflow: hidden;
    }
}
.marcas{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    #marcas{
        justify-content: space-between;
        .item{
            // height: 108px;
            // width: 150px;
            img{
                // width: 80%;
                height: 100%;
            }
        }
    }
}
footer{
    .w70{
        display: flex;
        justify-content: space-between;
        padding: 53px 45px 45px 45px;
        margin: 0 auto;
        h3{
            font-size: 15px;
            margin-bottom: 18px;
        }
        ul{
            margin-left: 25px;
            li{
                font-size: 13px;
                a{
                    text-decoration: none;
                }
            }
        }
        .menus{
            display: flex;
        }
        .redes{
            margin-left: 25px;
            .list{
                display: flex;
                margin-left: 5px;
                padding-top: 3px;
                .item{
                    background-color: var(--info-color);
                    height: 27px;
                    width: 27px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    img{
                        height: 45%;
                    }
                }
            }
        }
    }
    .copy{
        text-align: center;
        font-size: 12px;
        padding: 18px;
    }
    &.color{
        .redes{
            .list{
                .item{
                    background-color: #a1aeb7;
                    &.active{
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}
.category-menu{
    position: relative;
    .item{
        overflow: hidden!important;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        transition: all .3s;
        // position: sticky;
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            background: transparent;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
            transition: all .3;
        }
        &.active, &:hover{
            border-radius: 0;
            height: 115px;
            background: transparent!important;
            mask-image: radial-gradient(circle farthest-side at center, transparent 0%, white 0%);
            &:before{
                background: linear-gradient(to right,#005DB8,#5C9589);
            }
        }
        h5{
            font-size: 1em;
        }
        .subtitle{
            font-size: .8em;
        }
    }
}
.search{
    .p60-50{
        padding-bottom: 50px;
    }
    form{
        margin-top: 12px;
        width: 370px;
        input{
            color: white;
            padding: 5px 10px;
            &:focus{
                outline: none;
                ~ label{
                    display: none;
                }
            }
        }
    }
}
.tabs{
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: -15px;
        .before, .after{
            cursor: pointer;
            transition: all .3s;
            img{
                height: 30px;
            }
            &:hover{
                opacity: .6;
            }
            &.disabled{
                opacity: .3;
            }
        }
        .before{
            transform: rotate(180deg);
        }
        #list-tabs{
            width: calc(100% - 100px);
            overflow: hidden;
            margin: 0 auto;
        }
        .list{
            display: flex;
            .item{
                cursor: pointer;
                color: white;
                text-decoration: none;
                font-size: 14px;
                margin-left: 1.5em;
                border-bottom: 1px solid transparent;
                transition: all .3s;
                white-space: nowrap;
                &:first-child{
                    margin-left: 0;
                }
                &.active, &:hover{
                    // text-decoration: underline;
                    border-bottom: 1px solid white;
                    padding-bottom: 3px;   
                }
            }
            &.color{
                .item{
                    color: var(--tercery-color);
                    &.active{
                        background-color: var(--primary-color-2);
                        padding: 5px 10px;
                        color: white;
                    }
                }
            }
        }
    }
    .body{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .item{
            background: white;
            position: relative;
            margin-right: 2.66%;
            width: 23%;
            margin-bottom: 1.5em;
            transition: all .3s;
            transform-origin: center center;
            box-shadow: 0 0 4px 1px rgba(#000000, .1);
            display: flex;
            flex-direction: column;
            &:nth-child(4n){
                margin-right: 0;
            }
            &:hover, &.active{
                transform: scale(1.05);
                box-shadow: -5px 5px 10px 3px rgba(#000000, .1);
            }
            .img{
                display: flex;
                align-content: center;
                justify-content: center;
                width: auto;
                overflow: hidden;
                .bg-img{
                    background-size: cover!important;
                    height: 10vw;
                    width: 100%;
                }
            }
            .contry{
                display: flex;
                align-items: center;
                padding: 12px 15px 0 15px;
                .contry-flag{
                    height: 100%;
                    width: auto;
                    margin-right: 3px;
                }
                .contry-name{
                    font-size: 10px;
                }
            }
            .title{
                font-size: 18px;
                padding: 10px 15px 0 15px;
                line-height: 14px;
                margin-bottom: 15px;
            }
            .footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                bottom: 10px;
                padding: 0 15px;
                margin-top: auto;
                .btn{
                    transform: scale(.7);
                    transform-origin: left;
                    padding: 5px 15px 5px 15px;
                }
                .progress{
                    width: 30%;
                    height: 50px;
                    background-color: white;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}
.desarrollo-personal{
    .body{
        display: flex;
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        .item{
            width: 23%;
            margin-right: 2.66%;
            margin-bottom: 1em;
            overflow: hidden;
            border-radius: 7px;
            background: white;
            box-shadow: 0 0 4px 1px rgba(#000000, .1);
            display: flex;
            flex-direction: column;
            &:nth-child(4n){
                margin-right: 0;
            }
            transition: all .3s;
            &:hover{
                transform: scale(1.05);
                box-shadow: -5px 5px 10px 3px rgba(#000000, .1);
            }
            .img{
                height: 10vw;
                position: relative;
                .bg-img{
                    background-size: cover!important;
                    background-position: center!important;
                    height: 100%;
                    width: 100%;
                }
                .icons{
                    position: absolute;
                    height: 40px;
                    right: 0;
                    bottom: -20px;
                    img{
                        height: 100%;
                        margin-right: 7px;
                        &.like{
                            height: 70%;
                        }
                    }
                }
            }
            h3{
                padding: 0 10px;
                padding-top: 25px;
                font-size: 1em;
            }
            .footer{
                padding-left: 10px;
                padding-bottom: 15px;
                margin-top: auto;
                .like{
                    height: 16px;
                    span{
                        line-height: 16px;
                        padding-left: 10px;
                        color: #606060;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.profile{
    position: relative;
    .photo{
        height: 110px;
        width: 110px;
    }
    .point{
        .content{
            position: relative;
            padding: 5px 5px 5px 80px;
            max-width: 250px;
            border-radius: 0 10px 10px 10px;
            .points{
                background-color: var(--primary-color);
                border: 6px white solid;
                top: -7px;
                left: 20px;
                position: absolute;
                height: 50px;
                width: 50px;
                img{
                    height: 100%;
                    transform: scale(1.05);
                }
            }
        }
    }
    .search-form{
        position: absolute;
        bottom: -30px;
        left: 50%;
        width: 30%;
        transform: translateX(-50%);
        label{
            color: var(--info-color);
            display: none;
        }
        input{
            border: 1px solid var(--info-color);
            background: white;
            color: var(--info-color);
            ::placeholder {
                color: var(--info-color)!important;
                opacity: 1;
            }
        }
    }
    &.color{
        // background: red;
        .flex{
            flex-direction: column;
            align-items: center;
            .photo{
                height: 70px;
                width: 70px;
                border: 5px white solid;
                img{
                    height: 100%;
                }
            }
            .point{
                .content{
                    border-radius: 17px !important;
                    padding-right: 15px;
                    padding-left: 45px;
                    .points{
                        border: none;
                        background: none;
                        height: 40px;
                        left: 7px;
                        top: -3px;
                    }
                }
            }
        }
    }
}
.mis-cursos{
    position: relative;
    .arrow-left,.arrow-right{
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 200px;
        text-align: center;
        // border-radius: 50% 50%;
        // overflow: hidden;
        img{
            border-radius: 50% 50%;
            cursor: pointer;
            height: 100%;
            width: 100%;
            padding: 10px;
            box-shadow: 0 0 0 0 transparent;
            transition: all .3s;
            &:hover{
                box-shadow: 0 0 4px rgba(#000000, .1);
                transform: scale(1.1);
            }
        }
    }
    .arrow-left{
        left: -20px;
    }
    .arrow-right{
        right: -20px;
        transform: rotate(180deg);
    }
    .tabs{
        flex-wrap: nowrap;
        .body{
            .item{
                &:nth-child(4n){
                    margin-right: 2.3%;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.mis-cursos, .baner-container{
    .actions{
        display: flex;
        justify-content: center;
        .item{
            height: 15px;
            width: 15px;
            border-radius: 0 50% 50% 50%;
            background-color: #c1c1c1;
            margin-right: 20px;
            cursor: pointer;
            box-shadow: 0 0 0 0 transparent;
            transition: all .3s;
            &:last-child{
                margin-left: 0;
            }
            &.active{
                background: var(--success-color);
                box-shadow: 0 0 5px 1px rgba(black, .1);
            }
            &:hover{
                box-shadow: 0 0 5px 1px rgba(black, .1);
            }
        }
    }
}
.progress-bar-general{
    position: relative;
    .arrow-left,.arrow-right{
        height: 50px;
        width: 50px;
        position: absolute;
        top: -10px;
        text-align: center;
        // border-radius: 50% 50%;
        // overflow: hidden;
        img{
            border-radius: 50% 50%;
            cursor: pointer;
            height: 100%;
            width: 100%;
            padding: 10px;
            box-shadow: 0 0 0 0 transparent;
            transition: all .3s;
            &:hover{
                box-shadow: 0 0 4px rgba(#000000, .1);
                transform: scale(1.1);
            }
        }
    }
    .arrow-left{
        left: -20px;
    }
    .arrow-right{
        right: -20px;
        transform: rotate(180deg);
    }
    .bar{
        width: 90%;
        margin: 0 auto;
        background-color: #c1c1c1;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        height: 30px;
        border-radius: 15px;
        border: 4px solid white;
        position: relative;
        .color{
            border-radius: 15px;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: linear-gradient(to right,var(--info-color),var(--primary-color),var(--danger-color));
            .griss{
                right: 0;
                position: absolute;
                height: 100%;
                background: gainsboro;
                border-radius: (0 , 10px);
            }
        }
        .level{
            position: relative;
            margin-top: -33px;
            .points{
                position: relative;
                border: 5px solid white;
                height: 85px;
                width: 85px;
                img{
                    margin-top: -9px;
                    height: 100%;
                    transform: scale(.9);
                }
                span{
                    position: absolute;
                    bottom: 11px;
                    left: 50%;
                    font-size: .5em;
                    transform: translateX(-50%);
                    font-weight: bold;
                }
            }
            &.active{
                .points{
                    img{
                        margin-top: 0;
                        height: 100%;
                        transform: scale(1.2);
                    }
                    span{
                        bottom: -35px;
                        font-size: 1em;
                        font-weight: 500;
                    }
                    &.bg-info{
                        color: var(--info-color);
                    }
                    &.bg-primary{
                        color: var(--primary-color);
                    }
                    &.bg-danger{
                        color: var(--danger-color);
                    }
                }
            }
        }
    }
    .ranking{
        width: 250px;
        overflow: hidden;
        background: white;
        border-radius: 5px;
        .header{
            padding-left: 15px;
        }
        .content{
            height: 165px;
            overflow-y: auto;
            padding: 10px;
            font-size: 12px;
            table{
                width: 100%;
                tr{
                    background: var(--secondary-color);
                    border-bottom: 2px solid white;
                }
            }
        }
    }
    .progreso{
        width: calc(100% - 270px);
        margin-left: 20px;
        border-radius: 5px;
        overflow: hidden;
        .header{
            padding-left: 15px;
        }
        .content{
            height: 165px;
            padding: 10px 15px;
            span{
                font-size: 12px;
                width: 160px;
            }
            .progress-bar-h{
                background: var(--secondary-color);
                width: calc(100% - 170px);
                border-radius: 10px;
                padding: 3px;
                position: relative;
                height: 20px;
                margin-left: 10px;
                .active{
                    height: 14px;
                    width: 80%;
                    border-radius: 7px;
                }
                span{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 1px;
                }
            }
            .valoration{
                display: flex;
                justify-content: space-between;
                // text-align: center;

                .item{
                //    display: inline-block;
                    margin-top: 20px;
                    padding-top: 50px;
                    text-align: center;
                    position: relative;
                    span{
                        font-size: 12px;
                        &.num{
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 0;
                            font-size: 36px;
                            color: var(--success-color);
                        }
                        &.bg-secondary{
                            display: inline;
                            position: initial;
                            padding: 2px 8px;
                            border-radius: 14px;
                        }
                    }
                }
            }
        }
        &.color{
            .content{
                .valoration{
                    span{
                        &.num{
                            color: var(--info-color-2);
                        }
                    }
                }
            }
        }
    }
}
.mis-cursos-2{
    .header{
        justify-content: space-between;
        .options{
            display: flex;

            .form-group{
                background: var(--secondary-color);
                margin-left: 10px;
                label{
                    color: var(--info-color);
                    display: none;
                }
                input, select{
                    color: var(--info-color);
                }
            }
        }
        &.tabs-2{
            background: var(--secondary-color);
            margin-bottom: 30px;
            border-bottom: 4px solid var(--success-color);
            .item{
                cursor: pointer;
                display: flex;
                background: transparent;
                justify-content: center;
                width: 33%;
                padding: 5px 0;
                &.active{
                    background: var(--success-color);
                    .title{
                        color: white;
                    }
                }
                .icon{
                    height: 20px;
                    width: 25px;
                    background-repeat: no-repeat!important;
                    background-position: center right!important;
                    margin-right: 10px;
                }
                .title{
                    color: var(--info-color);
                }
            }
        }
    }
    .body{
        .item{
            height: 100px;
            border-radius: 0 10px 10px 10px;
            box-shadow: 0 0 2px 2px rgba(#000000, .1);
            display: flex;
            justify-content: space-between;
            transition: all .3s;
            margin-bottom: 20px;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0 4px 5px 2px rgba(#000000, .1);
            }
            .left{
                display: flex;
                width: 70%;
                align-items: center;
                .photo{
                    height: 100px;
                    width: 130px;
                    overflow: hidden;
                    border-radius: 0 0 0 10px;
                    .img{
                        background-size: cover!important;
                        height: 100%;
                        width: 100%;
                    }
                }
                .content{
                    width: calc(100% - 130px);
                    padding: 15px;
                    span, a{
                        display: block;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 500;
                    }
                    a{
                        font-size: 12px;
                    }
                    .calendar{
                        display: flex;
                        img{
                            height: 20px;
                            margin-right: 10px;
                        }
                        .text{
                            display: flex;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;
                padding-right: 10px;
                .calendar{
                    height: 30px;
                    display: flex;
                    img{
                        height: 100%;
                        margin-right: 10px;
                    }
                    .text{
                        line-height: 12px;
                        span{
                            font-size: 12px;
                        }
                    }
                }
                .progress{
                    background: transparent;
                    height: 80px;
                    width: 100px;
                    justify-content: flex-end;
                }
            }
        }
    }
    &.color{
        .header{
            // background: red;
            &.tabs-2{

                border-bottom: 4px solid var(--primary-color)!important;
                .item{
                    &.active{
                        background: var(--primary-color);
                    }
                }
            }
        }
    }
}
.widget-2{
    display: flex;
    justify-content: space-between;
    .item{
        text-align: center;
        .icon{
            height: 120px;
            width: 120px;
            margin: 0 auto;
            margin-bottom: 20px;
            img{
                height: 100%;
            }
        }
        span{
            text-align: center;
            display: inline-block;
            font-size: 10px;
            max-width: 150px;
        }
    }
}
.products{
    .title{
        display: flex;
        justify-content: flex-end;
    }
    .body{
        .item{
            border-radius: 5px;
            height: 230px;
            &:hover{
                .img{
                    height: 145px;
                }
                a{
                    opacity: 1;
                }
            }
            .img{
                height: 170px;
                border-radius: 8px 8px 0 0;
                overflow: hidden;
                transition: all .3s;
                .product{
                    // background: red;
                    background-size: cover!important;
                    height: 100%;
                    width: 100%;
                }
            }
            h3{
                margin: 0;
            }
            .content{
                display: block;
                padding: 10px;
                line-height: 14px;
            }
            a{
                // position: absolute;
                font-size: 14px;
                opacity: 0;
                transition: all .3s;
            }
        }
    }
}
.bold{
    font-weight: 500;
}
#header-color-tabs{
    overflow: hidden;
}